$borderColor: #ddd;

.inbox {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header {
        display: flex;

        input,
        button {
            border: 1px solid $borderColor;
            border-radius: 6px;
            outline-width: 0;
        }
    }
}
