$borderColor: #ddd;

.inbox {
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        input,
        button {
            border: 1px solid $borderColor;
            border-radius: 6px;
            outline-width: 0;
        }
    }
}
