$borderColor: #DDD;

.inboxNav {
    display: flex;
}

.nav {
    width: 15%;
}

.select {
    display: flex;
    margin-left: 1.6%;

    input {
        margin-right: 3px;
    }

    label {
        margin-right: 3%;
    }
}

.inbox {
    width: 85%;
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
            margin-left: 1.6%;
        }

        input,
        button {
            border: 1px solid $borderColor;
            border-radius: 6px;
            outline-width: 0;
        }
    }
}
