.navigation {
    margin-top: 36%;
    margin-left: 18%;

    button {
        border-radius: 12px;
    }

    button:focus {
        outline: 0;
    }

    .navOptions {
        margin: 5% auto;
    }

    .navOption {
        display: flex;
        margin-bottom: 5%;

        svg {
            margin-right: 2px;
        }

        a {
            text-decoration: none !important;
        }
    }
}