$borderColor: #000;
$favoriteColor: #f00;
$unreadColor: #f0f8ff;
$readColor: #fff;

.emailUnread {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 1% 0;
    background-color: $unreadColor;

    input {
        margin-left: 20px;
    }

    .important {
        fill: $favoriteColor;
    }

    .senderSubject {
        display: flex;
        justify-content: space-between;
        width: 45%;
        margin-right: 25%;
    }

    .date {
        margin-right: 20px;
    }
}

.emailRead {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 1% 0;
    background-color: $readColor;

    input {
        margin-left: 20px;
    }

    .important {
        fill: $favoriteColor;
    }

    .senderSubject {
        display: flex;
        justify-content: space-between;
        width: 45%;
        margin-right: 25%;
    }

    .date {
        margin-right: 20px;
    }
}
